<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1><%=sport.sport%></h1>
    <form  action="/classes/<%=sport[0].id%>?_method=PUT" method="post" class="filter-sport">
        <input type="hidden" name="sportClass1" value="<%= sport[0]%>"/>
        <div ><%= sport[0].children.t1.class_users%></div>
        <button type="submit">Enroll</button>
    </form>
    <p></p>
    <form  class="filter-sport">
        <div><%= sport[1]%></div>
        <button type="submit">Enroll</button>
    </form>
  
</body>
</html>